.search-result {
	/* background-color: red; */
	width: 100%;
	height: 60px;
	display: flex;
	margin-bottom: 15px;
	outline: 3px outset paleturquoise;
	outline-offset: -3px;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 5px;
}


.result-image {
	background-color: purple;
}

.result-text-container {
	background-color: aqua;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.result-name {
	font-size: 18px;
	background-color: bisque;
	display: block;
	margin: 0px;
	text-transform: capitalize;
}

.types-container {
	display: flex;
	align-items: center;
	background-color: yellow;
	height: 30px;
}

.result-type {
	font-size: 15px;
	background-color: red;
	display: inline-block;
	/* background-color: bisque;
	display: block;
	margin: 0px;
	text-transform: capitalize; */
}