body {
  background-color: lightgreen;
}

#root {
  border-radius: 2px;
  width: fit-content;
  overflow: hidden;
}

.row {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.cell {
  background-color: green;
  border: 1px solid darkgreen;
  width: 14px;
  height: 14px;
}

.snake {
  background-color: black;
}

.head {
  background-color: red;
}

.fruit {
  background-color: violet;
}

#game-over-screen {
  width: 318px;
  height: 242px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: monospace;
  color: rgb(1, 60, 1);
  border: 2px solid rgb(1, 60, 1);
}
