.card {
	background-color: palevioletred;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.card-title {
	display: inline-block;
	background-color: azure;
	text-align: center;
	padding: 0px;
	margin: 0px;
	font-size: 18px;
}

.card-image-container {
	background-color: gainsboro;
	box-sizing: border-box;
	padding: 10px;
	width: 220px;
	height: 220px;
}

.card-image {
	background-color: black;
	width: 100%;
}

.card-description-container {
	display: flex;
	height: 130px;
}

.card-description {
	background-color: rgb(212, 201, 105);
	margin: 0px;
	display: inline-block;
	overflow: scroll;
	overflow-y: hidden;
	overflow-x: hidden;
}

.card-description::-webkit-scrollbar {
	width: 8px;
}

.card-description::-webkit-scrollbar-track {
	background: lightgray;
}

.card-description::-webkit-scrollbar-thumb {
	background: gray;
	width: 200px !important;
}

.card-description-button-container {
	display: flex;
	flex-direction: column;
}

.card-description-buttonup {
	height: 50px;
}

.card-description-buttondown {
	height: 50px;
}