.card {
	background-color: palevioletred;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.card-title {
	display: inline-block;
	background-color: azure;
	text-align: center;
	padding: 0px;
	margin: 0px;
	font-size: 18px;
}

.card-image-container {
	background-color: gainsboro;
	width: 100px;
}

.card-image {
	background-color: purple;
	outline: 8px double black;
	outline-offset: -8px;
}

.card-description {
	background-color: teal;
	margin-top: 5px;
	margin-bottom: 0px;
	display: inline-block;
	overflow: scroll;
	overflow-y: scroll;
	overflow-x: hidden;
}

.card-description::-webkit-scrollbar {
	width: 8px;
}

.card-description::-webkit-scrollbar-track {
	background: lightgray;
}

.card-description::-webkit-scrollbar-thumb {
	background: gray;
}